modules = ["python-3.12", "nodejs-20", "web", "c-clang14"]
run = "python whitestrongs_bot.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python whitestrongs_bot.py"]

[[ports]]
localPort = 8080
externalPort = 80
